Repository LuanSergio/UmbraDex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": "eslint . --ext ts --ext tsx --ext js",
  "*.{css,scss}": "stylelint \"**/*.scss\"",
  "*": "prettier --check ."
}

feat: add shiny sparkle spacing variation
  src/components/ShinySparkle/index.tsx
  src/components/ShinySparkle/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add lapras webdoor
  src/components/WebDoor/Lapras/LaprasWebDoor.tsx
  src/components/WebDoor/Lapras/lapras-webdoor.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: change webdoor function logic
  src/components/WebDoor/WebdoorContext.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: update node types version
  package-lock.json
  package.json
Due: prettier --check .

chore: adjust butterfree animation timings
  src/components/WebDoor/Butterfree/ButterfreeWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: change header bachkground zindex on mobile
  src/components/Header/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

refactor: change butterfree petal animation implementation
  public/webdoor/butterfree/petal-8.svg
  public/webdoor/butterfree/petal-9.svg
  src/components/WebDoor/Butterfree/ButterfreeWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust butterfree petal position
  src/components/WebDoor/Butterfree/ButterfreeWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust lapras property name
  src/components/WebDoor/Lapras/LaprasWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust header index
  src/components/Header/styles.module.scss
  src/components/WebDoor/Gengar/gengar-webdoor.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: remove butterfree animation property and adjust zindex
  src/components/WebDoor/Butterfree/ButterfreeWebDoor.tsx
  src/components/WebDoor/Butterfree/butterfree-webdoor.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add glalie webdoor
  public/webdoor/glalie/big-shard.svg
  public/webdoor/glalie/glalie.svg
  public/webdoor/glalie/small-shard.svg
  public/webdoor/glalie/snow-flake.svg
  src/assets/styles/components/_webdoor-variations.scss
  src/components/WebDoor/CommonWebdoor.tsx
  src/components/WebDoor/Glalie/GlalieWebDoor.tsx
  src/components/WebDoor/Glalie/glalie-webdoor.module.scss
  src/components/WebDoor/WebdoorContext.tsx
  src/components/WebDoor/webdoor.module.scss
  src/layouts/DefaultLayout/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: adjust butterfree and header index
  src/components/Header/styles.module.scss
  src/components/WebDoor/Butterfree/butterfree-webdoor.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust glalie snowflake animation
  src/components/WebDoor/Glalie/GlalieWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add electabuzz WebDoor
  public/webdoor/electabuzz/electabuzz.svg
  public/webdoor/electabuzz/lightning.svg
  src/components/WebDoor/Electabuzz/ElectabuzzWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust butterfree animation
  public/webdoor/butterfree/petal-1.svg
  src/components/WebDoor/Butterfree/ButterfreeWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: add electabuzz to webdoor list
  src/components/WebDoor/WebdoorContext.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: add electabuzz styles
  src/assets/styles/components/_webdoor-variations.scss
  src/components/WebDoor/Electabuzz/electabuzz-webdoor.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust glalie animation
  src/components/WebDoor/Glalie/GlalieWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust lapras animation
  src/components/WebDoor/Lapras/LaprasWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add primeape webdoor
  public/webdoor/primeape/angry-symbol.svg
  public/webdoor/primeape/exclamation.svg
  public/webdoor/primeape/primeape.svg
  src/assets/styles/components/_webdoor-variations.scss
  src/components/WebDoor/Primeape/PrimeapeWebDoor.tsx
  src/components/WebDoor/Primeape/primeape-webdoor.module.scss
  src/components/WebDoor/WebdoorContext.tsx
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add chandelure webdoor
  public/webdoor/chandelure/chandelure.svg
  public/webdoor/chandelure/flame-1.svg
  public/webdoor/chandelure/flame-2.svg
  public/webdoor/chandelure/flame-3.svg
  public/webdoor/chandelure/flame-4.svg
  src/assets/styles/components/_webdoor-variations.scss
  src/components/WebDoor/Chandelure/ChandelureWebDoor.tsx
  src/components/WebDoor/Chandelure/chandelure-webdoor.module.scss
  src/components/WebDoor/WebdoorContext.tsx
  src/components/WebDoor/webdoorTitle.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: adjust butterfree petal
  public/webdoor/butterfree/petal-1.svg
Due: prettier --check .

chore: adjust primeape classes
  src/components/WebDoor/Primeape/PrimeapeWebDoor.tsx
  src/components/WebDoor/Primeape/primeape-webdoor.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: change chandelure values to rem
  src/components/WebDoor/Chandelure/chandelure-webdoor.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust chandelure animation
  src/components/WebDoor/Chandelure/ChandelureWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust primeape animation
  src/components/WebDoor/Primeape/PrimeapeWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add raichu webdoor
  public/webdoor/raichu/arm.svg
  public/webdoor/raichu/grass-back-left.svg
  public/webdoor/raichu/grass-back-right.svg
  public/webdoor/raichu/grass-back.svg
  public/webdoor/raichu/grass-front-left.svg
  public/webdoor/raichu/grass-front-right.svg
  public/webdoor/raichu/raichu.svg
  src/assets/styles/components/_webdoor-variations.scss
  src/components/WebDoor/Raichu/RaichuWebDoor.tsx
  src/components/WebDoor/Raichu/raichu-webdoor.module.scss
  src/components/WebDoor/WebdoorContext.tsx
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: adjust prime ape size
  src/components/WebDoor/Primeape/primeape-webdoor.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust shiny toggle
  src/assets/styles/components/_form-icons.scss
  src/components/Carousel/styles.module.scss
  src/components/PokemonDescription/styles.module.scss
  src/components/SwitchForms/index.tsx
  src/components/SwitchForms/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add jigglypuff webdoor
  public/webdoor/jigglypuff/angry-symbol.svg
  public/webdoor/jigglypuff/jigglypuff-corner.svg
  public/webdoor/jigglypuff/jigglypuff-floating.svg
  public/webdoor/jigglypuff/jigglypuff.svg
  src/assets/styles/components/_webdoor-variations.scss
  src/components/ShinySparkle/styles.module.scss
  src/components/WebDoor/Jigglypuff/JigglypuffWebDoor.tsx
  src/components/WebDoor/Jigglypuff/jigglypuff-webdoor.module.scss
  src/components/WebDoor/WebdoorContext.tsx
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: change default webdoor opacity and add fall back title
  src/components/ShinySparkle/index.tsx
  src/components/WebDoor/Chandelure/ChandelureWebDoor.tsx
  src/components/WebDoor/Electabuzz/ElectabuzzWebDoor.tsx
  src/components/WebDoor/Gengar/GengarWebDoor.tsx
  src/components/WebDoor/Glalie/GlalieWebDoor.tsx
  src/components/WebDoor/Jigglypuff/JigglypuffWebDoor.tsx
  src/components/WebDoor/Koffing/KoffingWebDoor.tsx
  src/components/WebDoor/WebsDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust card image width
  src/components/PokemonCard/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust some colors
  src/assets/styles/generic/_default.scss
  src/assets/styles/settings/_colors-type.scss
  src/components/PokemonCard/styles.module.scss
  src/components/PokemonCardSkeleton/styles.module.scss
  src/components/TypeBadge/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust pokemon descriptiom alingment and max width
  src/components/Carousel/styles.module.scss
  src/components/PokemonDescription/index.tsx
  src/components/PokemonDescription/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: only show default form when other forms are available
  src/components/SwitchForms/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

fix: glalie snowflake id
  src/components/WebDoor/Glalie/GlalieWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: add site manifest
  manifest.json
  public/favicons/site.webmanifest
  src/components/Head/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

fix: lighthouse lcp not being found
  src/components/WebDoor/WebDoorTitle.tsx
  src/components/WebDoor/WebsDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .
