Repository LuanSergio/UmbraDex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": "eslint . --ext ts --ext tsx --ext js",
  "*.{css,scss}": "stylelint \"**/*.scss\"",
  "*": "prettier --check ."
}

chore: adjust skeleton loading animation time
  src/assets/styles/helpers/_skeleton.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust move list skeleton styles
  src/components/MoveListItemSkeleton/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

feat: add not found state to move list
  src/components/MoveList/index.tsx
  src/components/MoveList/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: remove description scroll from mobile
  src/components/ScrollableText/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust description height and font size
  src/components/PokemonDescription/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust useLoading threshold
  src/hooks/useLoader.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust type colors
  src/assets/styles/settings/_colors-type.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust move list pokeball filter value
  src/components/MoveList/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust card list grid size and card size
  src/components/PokemonCard/styles.module.scss
  src/components/PokemonCardList/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: remove description padding on desktop
  src/components/PokemonDescription/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust mobile sizes
  src/assets/styles/generic/_default.scss
  src/components/PokemonDescription/styles.module.scss
  src/components/PokemonHighlight/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust snackbar font size
  src/components/SnackBar/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

feat: create base webdoor styles and adjust gengar layout
  src/components/WebDoor/GengarWebDoor.tsx
  src/components/WebDoor/gengar-webdoor.module.scss
  src/components/WebDoor/webdoor.module.scss
  src/layouts/DefaultLayout/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: working on koffing webdoor
  public/webdoor/koffing/koffing.svg
  public/webdoor/koffing/sign.svg
  src/components/WebDoor/KoffingWebdoor.tsx
  src/components/WebDoor/koffing-webdoor.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: adjust webdoor max height
  src/components/WebDoor/webdoor.module.scss
Due: stylelint "**/*.scss", prettier --check .

feat: add koffing webdoor
  public/webdoor/gengar/crobat.svg
  public/webdoor/gengar/gengar.svg
  public/webdoor/gengar/zubat.svg
  public/webdoor/koffing/koffing.svg
  public/webdoor/koffing/sign.svg
  public/webdoor/koffing/smoke-variation-1.svg
  public/webdoor/koffing/smoke-variation-2.svg
  public/webdoor/koffing/smoke-variation-3.svg
  public/webdoor/koffing/smoke-variation-4.svg
  src/assets/styles/components/_form-icons.scss
  src/assets/styles/components/_webdoor-variations.scss
  src/assets/styles/global.scss
  src/components/WebDoor/GengarWebDoor.tsx
  src/components/WebDoor/KoffingWebdoor.tsx
  src/components/WebDoor/gengar-webdoor.module.scss
  src/components/WebDoor/koffing-webdoor.module.scss
  src/components/WebDoor/webdoor.module.scss
  src/layouts/DefaultLayout/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add random webdoor logic and separate common webdoor code
  public/icons/refresh.svg
  public/webdoor/webdoor-title.svg
  src/components/WebDoor/CommonWebdoor.tsx
  src/components/WebDoor/Gengar/GengarWebDoor.tsx
  src/components/WebDoor/Gengar/gengar-webdoor.module.scss
  src/components/WebDoor/GengarWebDoor.tsx
  src/components/WebDoor/Koffing/KoffingWebdoor.tsx
  src/components/WebDoor/Koffing/koffing-webdoor.module.scss
  src/components/WebDoor/KoffingWebdoor.tsx
  src/components/WebDoor/Title.tsx
  src/components/WebDoor/WebsDoor.tsx
  src/components/WebDoor/webdoor.module.scss
  src/layouts/DefaultLayout/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add transparent variation to icon button
  src/components/IconButton/index.tsx
  src/components/IconButton/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add refresh button to webdoor and move logic to context
  next.config.js
  package-lock.json
  package.json
  public/audio/secret.mp3
  src/components/WebDoor/CommonWebdoor.tsx
  src/components/WebDoor/WebdoorContext.tsx
  src/components/WebDoor/WebsDoor.tsx
  src/components/WebDoor/webdoor.module.scss
  src/hooks/useKonamiCode.ts
  src/hooks/useWebDoor.ts
  src/layouts/DefaultLayout/index.tsx
  src/types/sound.d.ts
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add webdoor shiny activation
  public/icons/shiny.svg
  src/components/WebDoor/CommonWebdoor.tsx
  src/components/WebDoor/Title.tsx
  src/components/WebDoor/WebdoorContext.tsx
  src/components/WebDoor/WebsDoor.tsx
  src/components/WebDoor/webdoor.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: working on shiny sparkle component
  public/webdoor/sparkle-1.svg
  public/webdoor/sparkle-2.svg
  public/webdoor/sparkle-3.svg
  public/webdoor/sparkle-4.svg
  src/components/ShinySparkle/index.tsx
  src/components/ShinySparkle/styles.modules.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add shiny sparkle to webdoors
  src/components/ShinySparkle/index.tsx
  src/components/ShinySparkle/styles.module.scss
  src/components/ShinySparkle/styles.modules.scss
  src/components/WebDoor/Gengar/GengarWebDoor.tsx
  src/components/WebDoor/Gengar/gengar-webdoor.module.scss
  src/components/WebDoor/Koffing/KoffingWebdoor.tsx
  src/components/WebDoor/Koffing/koffing-webdoor.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add shiny chance to webdoor
  public/audio/shiny.mp3
  src/components/WebDoor/WebdoorContext.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust webdoor refresh button size
  src/components/WebDoor/webdoor.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust koffing animation delay timing
  src/components/WebDoor/Koffing/KoffingWebdoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: add inner pokemon page shiny option
  src/assets/styles/components/_form-icons.scss
  src/components/PokemonContent/index.tsx
  src/components/SwitchForms/index.tsx
  src/components/SwitchForms/styles.module.scss
  src/constants/imagesRoutes.ts
  src/core/domain/entities/PokemonForm.ts
  src/data/PokemonData.ts
  src/utils/getPokemonImageUrl.ts
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: add svgo config
  next.config.js
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add title position properties
  src/components/WebDoor/CommonWebdoor.tsx
  src/components/WebDoor/Title.tsx
  src/components/WebDoor/WebDoorTitle.tsx
  src/components/WebDoor/webdoor.module.scss
  src/components/WebDoor/webdoorTitle.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: adjust koffing webdoor component name
  src/components/WebDoor/Koffing/KoffingWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust gengar webdoor position
  src/components/WebDoor/Gengar/gengar-webdoor.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: add class prefix id to svgo config
  next.config.js
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: add nanoid package
  package-lock.json
  package.json
Due: prettier --check .

chore: adjust webdoor title svg
  public/webdoor/webdoor-title.svg
Due: prettier --check .

chore: add butterfree webdoors svgs shiny variations
  public/webdoor/butterfree/butterfree.svg
  public/webdoor/butterfree/petal-1.svg
  public/webdoor/butterfree/petal-2.svg
  public/webdoor/butterfree/petal-3.svg
  public/webdoor/butterfree/petal-4.svg
  public/webdoor/butterfree/petal-5.svg
  public/webdoor/butterfree/petal-6.svg
  public/webdoor/butterfree/petal-7.svg
  public/webdoor/butterfree/petal-8.svg
  public/webdoor/butterfree/petal-9.svg
  src/assets/styles/components/_webdoor-variations.scss
  src/assets/styles/settings/_index-level.scss
  src/components/WebDoor/webdoorTitle.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: ajust header zindex
  src/components/Header/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: ajust inner navigation zindex
  src/components/InnerPageNavigation/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: add get random number between interval function
  src/utils/getRandomNumberBetweenInterval.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add butterfree webdoor
  src/components/WebDoor/Butterfree/ButterfreeWebDoor.tsx
  src/components/WebDoor/Butterfree/butterfree-webdoor.module.scss
  src/components/WebDoor/WebdoorContext.tsx
  src/components/WebDoor/webdoor.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: change layout effect to use effect
  src/components/MoveList/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: add lapras svg and shiny variation
  public/webdoor/lapras/bubble-1.svg
  public/webdoor/lapras/bubble-2.svg
  public/webdoor/lapras/bubble-3.svg
  public/webdoor/lapras/lapras.svg
  src/assets/styles/components/_webdoor-variations.scss
Due: stylelint "**/*.scss", prettier --check .
