Repository LuanSergio/UmbraDex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": "eslint . --ext ts --ext tsx --ext js",
  "*.{css,scss}": "stylelint \"**/*.scss\"",
  "*": "prettier --check ."
}

feat: add secondary button theme and button props option
  src/components/atoms/Button/index.tsx
  src/components/atoms/Button/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: working on filter implementation
  src/components/molecules/FilterModal/index.tsx
  src/components/molecules/FilterModal/styles.module.scss
  src/components/molecules/FilterOptions/index.tsx
  src/components/molecules/Menu/index.tsx
  src/components/molecules/Menu/styles.module.scss
  src/contexts/PokemonListContext.tsx
  src/hooks/usePokemonList.ts
  src/requests/getPokemonDetailsData.ts
  src/requests/getPokemonListData.ts
  src/utils/formatQueryFilters.ts
  src/utils/formatQuerySort.ts
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add escape key hook
  src/hooks/useEscapeKeyPress.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

refactor: change button secondary theme appearance
  src/components/atoms/Button/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

feat: add filter and sort implementation
  src/components/atoms/Modal/index.tsx
  src/components/molecules/FilterModal/index.tsx
  src/components/molecules/Header/index.tsx
  src/components/molecules/SearchInput/index.tsx
  src/contexts/PokemonListContext.tsx
  src/hooks/usePokemonList.ts
  src/requests/getPokemonDetailsData.ts
  src/requests/getPokemonListData.ts
  src/utils/formatQueryFilters.ts
  src/utils/formatQuerySort.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: change sort filter icons
  public/icons/alphabetical-ascending.svg
  public/icons/alphabetical-descending.svg
Due: prettier --check .

feat: change conditional filter and sort conditions
  src/utils/formatQueryFilters.ts
  src/utils/formatQuerySort.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: check if filters are applied before using fallback data
  src/contexts/PokemonListContext.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add anchor tag on cards link
  src/components/molecules/PokemonCard/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add extra forms to pokemon list query
  src/components/molecules/PokemonCard/index.tsx
  src/components/molecules/SearchInput/index.tsx
  src/components/organism/PokemonCardList/index.tsx
  src/requests/getPokemonListData.ts
  src/types/BasicPokemonInfo.d.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

refactor: change extra form result filter implementation
  src/components/molecules/FilterModal/index.tsx
  src/components/molecules/PokemonBasicInformation/index.tsx
  src/components/molecules/PokemonCard/index.tsx
  src/components/molecules/SearchInput/index.tsx
  src/components/organism/PokemonCardList/index.tsx
  src/requests/getPokemonDetailsData.ts
  src/requests/getPokemonListData.ts
  src/types/BasicPokemonInfo.d.ts
  src/utils/checkIfPokemonHasType.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add cards skeleton when data is loading
  src/assets/styles/settings/_colors-theme.scss
  src/components/molecules/PokemonCardSkeleton/index.tsx
  src/components/molecules/PokemonCardSkeleton/styles.module.scss
  src/components/organism/PokemonCardList/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add ReactPortal component
  src/components/atoms/ReactPortal/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add SnackBar component
  src/assets/styles/settings/_index-level.scss
  src/components/atoms/SnackBar/index.tsx
  src/components/atoms/SnackBar/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add create wrapper and append to body function
  src/utils/createWrapperAndAppendToBody.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add loading to card list
  public/icons/loading-dots.svg
  src/assets/styles/animations/_skeleton-loading.scss
  src/assets/styles/global.scss
  src/assets/styles/helpers/_skeleton.scss
  src/assets/styles/settings/_colors-theme.scss
  src/components/molecules/PokemonCardSkeleton/index.tsx
  src/components/molecules/PokemonCardSkeleton/styles.module.scss
  src/components/organism/PokemonCardList/index.tsx
  src/components/organism/PokemonCardList/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: chance script strategy
  src/pages/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add adornment option to snackbar
  src/components/atoms/SnackBar/index.tsx
  src/components/atoms/SnackBar/styles.module.scss
  src/components/organism/PokemonCardList/index.tsx
  src/components/organism/PokemonCardList/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: adjust disclaimer text
  src/components/molecules/Disclaimer/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add snackbar warning to filter modal
  src/components/molecules/FilterModal/index.tsx
  src/components/molecules/FilterModal/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: conditional loader rendering
  src/components/organism/PokemonCardList/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: move dark mode script to document
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

fix: get list data not considering empty filters
  src/requests/getPokemonListData.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

fix: update modal filter when opening and closing
  src/components/molecules/FilterModal/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

fix: dark mode not loading user preferences
  src/contexts/ThemeContext.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add search loading state and not found
  public/confused-psyduck.svg
  src/assets/styles/generic/_default.scss
  src/components/layouts/DefaultLayout/index.tsx
  src/components/layouts/DefaultLayout/styles.module.scss
  src/components/molecules/SearchInput/styles.module.scss
  src/components/molecules/WebDoor/styles.module.scss
  src/components/organism/PokemonCardList/index.tsx
  src/components/organism/PokemonCardList/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

fix: menu position when search is opened on mobile
  src/components/molecules/Header/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add secondary type to filters
  package-lock.json
  package.json
  src/components/atoms/Tabs/index.tsx
  src/components/atoms/Tabs/styles.module.scss
  src/components/layouts/DefaultLayout/index.tsx
  src/components/molecules/FilterModal/index.tsx
  src/components/molecules/FilterModal/styles.module.scss
  src/components/molecules/SearchInput/index.tsx
  src/components/organism/PokemonCardList/index.tsx
  src/contexts/PokemonListContext.tsx
  src/hooks/usePokemonList.ts
  src/requests/getPokemonListData.ts
  src/utils/checkIfPokemonHasType.ts
  src/utils/formatQueryFilters.ts
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: adjust type tabs title
  src/components/molecules/FilterModal/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add isTypeExcluded function
  src/utils/isTypeExcluded.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add pokemonType interface
  src/types/PokemonType.d.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add pokemonGeneration interface
  src/types/Generation.d.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add get pokemon types request function
  src/requests/getPokemonTypes.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add get pokemon generations request function
  src/requests/getGenerations.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add TypeBadge component
  src/components/atoms/TypeBadge/index.tsx
  src/components/atoms/TypeBadge/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

refactor: apply type badge component on pokemon card
  src/components/molecules/PokemonCard/index.tsx
  src/components/molecules/PokemonCard/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: remove unnecessary import
  src/components/atoms/TypeBadge/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

refactor: change text field size options value
  src/components/atoms/TextField/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: remove console log
  src/utils/formatQueryFilters.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: change queries name
  src/requests/getGenerations.ts
  src/requests/getPokemonTypes.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .
