Repository LuanSergio/UmbraDex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add move list to pokemon inner page
  src/data/MoveData.ts
  src/data/PokemonData.ts
  src/data/responses/PokemonResponses.ts
  src/domain/entities/PokemonForm.ts
  src/domain/repository/MoveRepository.ts
  src/domain/usecases/GetMovesByPokemonIdUsecase.ts
  src/presentation/components/MoveList/index.tsx
  src/presentation/components/MoveList/styles.module.scss
  src/presentation/components/PokemonContent/index.tsx
  src/presentation/hooks/useMovesList.ts
  src/presentation/utils/formatPokemoMoveProperty.ts
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: adjust pokemon inner page style
  src/presentation/assets/styles/helpers/_scroll.scss
  src/presentation/assets/styles/settings/_colors-type.scss
  src/presentation/components/Carousel/styles.module.scss
  src/presentation/components/InnerPageNavigation/styles.module.scss
  src/presentation/components/PokemonContent/styles.module.scss
  src/presentation/components/PokemonDescription/index.tsx
  src/presentation/components/PokemonDescription/styles.module.scss
  src/presentation/components/PokemonStatsChart/styles.module.scss
  src/presentation/components/PokemonTypeEfficiencyTable/styles.module.scss
  src/presentation/components/TypeBadge/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: adjust next dir
  next.config.js
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: change type efficiency structure
  src/assets/styles/settings/_colors-type.scss
  src/components/PokemonTypeEfficiencyTable/index.tsx
  src/components/PokemonTypeEfficiencyTable/styles.module.scss
  src/components/TypeBadge/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: remove next dir from config
  next.config.js
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: working on moveList component
  public/icons/physical.svg
  public/icons/special.svg
  public/icons/status.svg
  src/components/MoveList/index.tsx
  src/components/MoveList/styles.module.scss
  src/data/MoveData.ts
  src/utils/filterMoveList.ts
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: update nove types version
  package-lock.json
Due: prettier --check .

chore: move infinity loader logic to a utility hook
  src/components/PokemonCardList/index.tsx
  src/hooks/useLoader.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add pokemon move list infinity load
  src/components/MoveList/index.tsx
  src/constants/movePerRequest.ts
  src/core/domain/repository/MoveRepository.ts
  src/core/domain/usecases/GetMovesByPokemonIdUsecase.ts
  src/data/MoveData.ts
  src/hooks/useMovesList.ts
  src/utils/formatPokemonMoveProperty.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: change pokemon efficiencies values size distribution
  src/components/PokemonTypeEfficiencyTable/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust pokedex response
  src/data/PokedexData.ts
  src/data/responses/PokedexResponse.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add ability to pokemon page
  src/components/Carousel/styles.module.scss
  src/components/PokemonContent/index.tsx
  src/components/PokemonContent/styles.module.scss
  src/components/PokemonDescription/index.tsx
  src/components/PokemonDescription/styles.module.scss
  src/components/PokemonHighlight/styles.module.scss
  src/components/PokemonTypeEfficiencyTable/styles.module.scss
  src/components/ScrollableText/index.tsx
  src/components/ScrollableText/styles.module.scss
  src/core/domain/entities/PokemonForm.ts
  src/data/PokemonData.ts
  src/data/responses/PokemonResponses.ts
  src/pages/pokemon/[id].tsx
  src/utils/formatAbilityName.ts
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: change move list implementation
  src/components/MoveList/index.tsx
  src/components/MoveList/styles.module.scss
  src/components/PokemonCardList/index.tsx
  src/components/PokemonContent/index.tsx
  src/constants/movePerRequest.ts
  src/core/domain/repository/MoveRepository.ts
  src/core/domain/usecases/GetMovesByPokemonIdUsecase.ts
  src/data/MoveData.ts
  src/hooks/useLoader.ts
  src/hooks/useMovesList.ts
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

fix: observer loading not being defined on page change
  package-lock.json
  src/components/MoveList/index.tsx
  src/constants/movePerRequest.ts
  src/hooks/useLoader.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust fairy type colors
  src/assets/styles/settings/_colors-type.scss
Due: stylelint "**/*.scss", prettier --check .

chore: add spacing to type efficacies
  src/components/PokemonTypeEfficiencyTable/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust description sizes
  src/components/PokemonDescription/index.tsx
  src/components/PokemonDescription/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: add max height to webdoor mobile
  src/components/WebDoor/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust disclaimer text
  src/components/Disclaimer/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: throttle use move list and use type efficacies
  src/components/Menu/index.tsx
  src/hooks/useMovesList.ts
  src/hooks/useThrottleFunction.ts
  src/hooks/useThrottleValue.ts
  src/hooks/useTypeEfficacies.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust snackbar mobile aligment
  src/components/SnackBar/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust filter aligment on mobile
  src/components/FilterModal/index.tsx
  src/components/FilterModal/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: remove unnecessary imports
  src/components/MoveList/index.tsx
  src/data/MoveData.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust tablet and mobile layout
  src/assets/styles/helpers/_scroll.scss
  src/assets/styles/settings/_breakpoints.scss
  src/components/Carousel/styles.module.scss
  src/components/EvolutionChain/styles.module.scss
  src/components/InnerPageNavigation/styles.module.scss
  src/components/PokemonCardList/styles.module.scss
  src/components/PokemonContent/styles.module.scss
  src/components/PokemonDescription/index.tsx
  src/components/PokemonDescription/styles.module.scss
  src/components/PokemonHighlight/styles.module.scss
  src/components/PokemonStatsChart/styles.module.scss
  src/components/PokemonTypeEfficiencyTable/styles.module.scss
  src/components/Tabs/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: adjust stats border
  src/components/PokemonStatsChart/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: disconnect observe when component unmounts
  src/hooks/useLoader.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: change snackbar style
  src/components/PokemonCardList/index.tsx
  src/components/SnackBar/index.tsx
  src/components/SnackBar/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: remove loading dots height
  src/components/PokemonCardList/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: add move list skeleton
  src/assets/styles/animations/_skeleton-loading.scss
  src/assets/styles/helpers/_skeleton.scss
  src/components/MoveList/index.tsx
  src/components/MoveList/styles.module.scss
  src/components/MoveListItemSkeleton/index.tsx
  src/components/MoveListItemSkeleton/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: add pokeball decoration to pokemon page
  src/components/MoveList/index.tsx
  src/components/MoveList/styles.module.scss
  src/components/PokemonContent/index.tsx
  src/components/PokemonContent/styles.module.scss
  src/components/PokemonTypeEfficiencyTable/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add level 2 title helper class
  src/assets/styles/helpers/_title.scss
Due: stylelint "**/*.scss", prettier --check .

feat: add title to pokemon page blocks
  src/components/MoveList/index.tsx
  src/components/PokemonStatsChart/index.tsx
  src/components/PokemonTypeEfficiencyTable/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: adjust pokemon name font size depending on name length
  src/components/MoveList/styles.module.scss
  src/components/PokemonBasicInformation/index.tsx
  src/components/PokemonBasicInformation/styles.module.scss
  src/components/PokemonContent/styles.module.scss
  src/components/PokemonDescription/styles.module.scss
  src/utils/getPokemonNameFontSize.ts
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: change breakpint on inner page navigation
  src/components/InnerPageNavigation/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: algin description side note center
  src/components/PokemonDescription/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

feat: hide unnecessary header information on inner page
  src/components/Header/index.tsx
  src/components/Menu/index.tsx
  src/pages/pokemon/[id].tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: remove unnecessary console log
  src/components/MoveList/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: add max width to efficacie loading
  src/components/PokemonTypeEfficiencyTable/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust pokeball color on movelist
  src/components/MoveList/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

Path conditions:
  eslint . --ext ts --ext tsx --ext js: any of: *.{js,ts,jsx,tsx}
  stylelint "**/*.scss": any of: *.{css,scss}
  prettier --check .: any of: *
