Repository LuanSergio/UmbraDex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": "eslint . --ext ts --ext tsx --ext js",
  "*.{css,scss}": "stylelint \"**/*.scss\"",
  "*": "prettier --check ."
}

chore: adjust inner page header
  src/components/Header/index.tsx
  src/components/Menu/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: add rubik font family to titles
  src/assets/fonts/rubik/rubik-bold.woff2
  src/assets/styles/generic/_font-face.scss
  src/assets/styles/helpers/_title.scss
  src/components/PokemonBasicInformation/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

fix: display property
  src/components/MoveList/styles.module.scss
  src/components/PokemonContent/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust water default type color
  src/assets/styles/settings/_colors-type.scss
Due: stylelint "**/*.scss", prettier --check .

chore: add throttle to useLoader
  src/hooks/useLoader.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

style: change conditional implementations
  src/components/Carousel/index.tsx
  src/components/Header/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: add opacity animation to jiggly puff angry symbol
  src/components/WebDoor/Jigglypuff/JigglypuffWebDoor.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: turn off next image optimization
  src/components/PokemonCardSkeleton/index.tsx
  src/components/PokemonHighlight/index.tsx
  src/components/PokemonPicture/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: remove navigation link when button is disabled
  src/components/InnerPageNavigation/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

docs: add readme and license
  README.md
  docs/LICENSE
  docs/banner.png
  docs/division.png
  docs/illustrations-figma.png
  docs/layout-figma.png
  docs/logo.png
Due: prettier --check .

docs: adjust docs images and links
  README.md
  docs/banner.png
  docs/icon.png
  docs/layout-preview.png
  docs/logo.png
  package-lock.json
Due: prettier --check .

chore: update prettier ignore
  .prettierignore
Due: prettier --check .

docs: update image name and remove div
  README.md
  docs/banner.png
Due: prettier --check .

docs: fix typos on readme
  README.md
Due: prettier --check .

docs: fix typo and changed yarn to npm
  README.md
Due: prettier --check .

chore: remove round borders from pokemon stats
  src/components/PokemonStatsChart/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .
