Repository LuanSergio/UmbraDex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": "eslint . --ext ts --ext tsx --ext js",
  "*.{css,scss}": "stylelint \"**/*.scss\"",
  "*": "prettier --check ."
}

chore: adjust scrollable text spacing
  src/components/molecules/ScrollableText/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: adjust pre-commit husky hook
  .husky/pre-commit
Due: prettier --check .

chore: adjust max description position
  src/components/molecules/PokemonDescription/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust basic info class names
  src/components/molecules/PokemonBasicInformation/index.tsx
  src/components/molecules/PokemonBasicInformation/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: add question mark svg icon
  public/icons/question-mark.svg
Due: prettier --check .

chore: add get type efficacies request and hook
  src/hooks/useTypeEfficacies.ts
  src/requests/getTypeEfficacies.ts
  src/types/TypeEfficiency.d.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust pokemon description style
  src/components/molecules/PokemonDescription/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

feat: format type efficinecy function
  src/types/TypeEfficiency.d.ts
  src/utils/formatTypeEfficiency.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: format type efficacies
  src/hooks/useTypeEfficacies.ts
  src/requests/getTypeEfficacies.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: get type by name and by id
  src/utils/getTypeById.ts
  src/utils/getTypeByName.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add convert decimeters and hectogram functions
  src/utils/convertDecimetersToMeters.ts
  src/utils/convertHectogramToKilogram.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: adjust loading dots svg attributes
  public/icons/loading-dots.svg
Due: prettier --check .

feat: add neutral variation scroll
  src/assets/styles/helpers/_scroll.scss
Due: stylelint "**/*.scss", prettier --check .

chore: remove unnecessary commentary
  src/components/atoms/SnackBar/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: add height and weight to pokemon form interface
  src/types/PokemonForm.d.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: get types and generations on request
  src/components/molecules/FilterModal/index.tsx
  src/components/molecules/Menu/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: get types and generations on request
  src/pages/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: use neutral scroll on scrollable text
  src/components/molecules/ScrollableText/index.tsx
  src/components/molecules/ScrollableText/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

feat: add type efficinecy component
  src/components/atoms/TypeBadge/index.tsx
  src/components/atoms/TypeBadge/styles.module.scss
  src/components/molecules/PokemonTypeEfficiency/index.tsx
  src/components/molecules/PokemonTypeEfficiency/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

refactor: rework content page layout
  src/components/molecules/PokemonDescription/styles.module.scss
  src/components/molecules/PokemonHighlight/styles.module.scss
  src/components/molecules/PokemonStats/styles.module.scss
  src/components/organism/PokemonContent/index.tsx
  src/components/organism/PokemonContent/styles.module.scss
  src/contexts/PokemonListContext.tsx
  src/hooks/usePokemonList.ts
  src/pages/pokemon/[id].tsx
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: adjust content spacing
  src/components/molecules/EvolutionChain/styles.module.scss
  src/components/organism/PokemonContent/index.tsx
  src/components/organism/PokemonContent/styles.module.scss
Due: eslint . --ext ts --ext tsx --ext js, stylelint "**/*.scss", prettier --check .

chore: add next-themes dependecy
  package-lock.json
  package.json
Due: prettier --check .

chore: add dark and light classes
  src/assets/styles/generic/_default.scss
Due: stylelint "**/*.scss", prettier --check .

chore: change theme switch to next-themes
  src/components/molecules/Menu/index.tsx
  src/contexts/ThemeContext.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/pokemon/[id].tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

style: sort components import
  src/components/Carousel/index.tsx
  src/components/CarouselItem/index.tsx
  src/components/EvolutionChain/index.tsx
  src/components/FilterModal/index.tsx
  src/components/HeadConfiguration/index.tsx
  src/components/Header/index.tsx
  src/components/Menu/index.tsx
  src/components/Modal/index.tsx
  src/components/PokemonBasicInformation/index.tsx
  src/components/PokemonCard/index.tsx
  src/components/PokemonCardList/index.tsx
  src/components/PokemonCardSkeleton/index.tsx
  src/components/PokemonContent/index.tsx
  src/components/PokemonDescription/index.tsx
  src/components/PokemonHighlight/index.tsx
  src/components/PokemonPicture/index.tsx
  src/components/PokemonStats/index.tsx
  src/components/ReactPortal/index.tsx
  src/components/SearchInput/index.tsx
  src/components/SnackBar/index.tsx
  src/components/SwitchForms/index.tsx
  src/components/Tabs/index.tsx
  src/components/TypeBadge/index.tsx
  src/components/WebDoor/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: change head component name
  src/components/Head/index.tsx
  src/pages/_document.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: remove type efficiency X scroll
  src/components/PokemonTypeEfficiency/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

chore: moved all requests to use cases
  src/data/GenerationData.ts
  src/data/PokedexData.ts
  src/data/PokemonData.ts
  src/data/PokemonTypeData.ts
  src/data/format/formatPokemonDetailsDescription.ts
  src/data/format/formatQueryFilters.ts
  src/data/format/formatQuerySort.ts
  src/data/format/formatTypeEfficiency.ts
  src/domain/entities/Pokemon.ts
  src/domain/entities/PokemonDescription.ts
  src/domain/entities/PokemonForm.ts
  src/domain/repository/PokedexRepository.ts
  src/domain/repository/PokemonRepository.ts
  src/domain/repository/PokemonTypesRepository.ts
  src/domain/usecases/GetPokedexLimitUsecase.ts
  src/domain/usecases/GetPokemonByIdUsecase.ts
  src/domain/usecases/GetPokemonListUsecase.ts
  src/domain/usecases/GetPokemonTypeEfficaciesUsecase.ts
  src/domain/usecases/GetPokemonTypeUsecase.ts
  src/domain/usecases/GetPokemonUsecase.ts
  src/factories/createGetAllGenerationsUsecase.ts
  src/factories/createGetPokedexLimitUsecase.ts
  src/factories/createGetPokemonByIdUsecase.ts
  src/factories/createGetPokemonListUsecase.ts
  src/factories/createGetPokemonTypeEfficaciesUsecase.ts
  src/factories/createGetPokemonTypeUsecase copy.ts
  src/factories/createGetPokemonTypeUsecase.ts
  src/helpers/checkIfPokemonHasType.ts
  src/helpers/getPokemonImageUrl.ts
  src/helpers/replaceDashWithSpace.ts
  src/helpers/transformFirstLetterToUppercase.ts
  src/presentation/components/EvolutionChain/index.tsx
  src/presentation/components/FilterModal/index.tsx
  src/presentation/components/SearchInput/index.tsx
  src/presentation/requests/getPokemonDetailsData.ts
  src/presentation/requests/getPokemonListData.ts
  src/presentation/utils/formatStats.ts
  tsconfig.json
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: update eslint and prettier ignore
  .eslintignore
  .prettierignore
Due: prettier --check .

chore: working on use cases implementations
  src/data/GenerationData.ts
  src/data/PokemonData.ts
  src/data/responses/PokemonResponses.ts
  src/domain/entities/Pokemon.ts
  src/domain/entities/PokemonType.ts
  src/presentation/components/PokemonCard/index.tsx
  src/presentation/components/PokemonCardList/useCardListLoader.ts
  src/presentation/components/PokemonDescription/index.tsx
  src/presentation/contexts/PokemonListContext.tsx
  src/presentation/hooks/useEscapeKeyPress.ts
  src/presentation/hooks/usePokemonList.ts
  src/presentation/hooks/useTypeEfficacies.ts
  src/presentation/pages/index.tsx
  src/presentation/pages/pokemon/[id].tsx
  src/presentation/requests/getGenerations.ts
  src/presentation/requests/getPokedexLimit.ts
  src/presentation/requests/getPokemonDetailsData.ts
  src/presentation/requests/getPokemonListData.ts
  src/presentation/requests/getPokemonTypes.ts
  src/presentation/requests/getTypeEfficacies.ts
  src/types/BasicPokemonInfo.d.ts
  src/types/PokemonDetails.d.ts
  src/types/PokemonForm.d.ts
  src/types/PokemonType.d.ts
  src/types/TypeEfficiency.d.ts
  tsconfig.json
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

fix: adjust generation properties
  src/domain/entities/Generation.ts
  src/presentation/components/FilterModal/index.tsx
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: remove console logs
  src/presentation/components/FilterModal/index.tsx
  src/presentation/hooks/useTypeEfficacies.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

style: adjust import order
  src/domain/repository/GenerationRepository.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

style: adjust import order
  src/domain/repository/PokemonTypesRepository.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

feat: add moves listing use case
  src/data/MoveData.ts
  src/data/responses/MoveResponses.ts
  src/domain/entities/Move.ts
  src/domain/repository/MoveRepository.ts
  src/domain/usecases/GetMovesByPokemonIdUsecase.ts
  src/factories/createGetMovesByPokemonIdUsecase.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .

chore: change value to rem
  src/presentation/components/PokemonTypeEfficiencyTable/styles.module.scss
Due: stylelint "**/*.scss", prettier --check .

feat: add use move list hook
  src/presentation/hooks/useMovesList.ts
Due: eslint . --ext ts --ext tsx --ext js, prettier --check .
